@tailwind base;
@tailwind components;
@tailwind utilities;



.book-modal {
    width: 350px;
    height: 200px;
    /* border: 2px solid green; */
    border-radius: 7px;
    position: relative;

    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;
    margin: auto;

    background-color: rgba(0, 116, 109, 0.459);

    /* -webkit-box-shadow: 2px 2px 6px 2px #03ffff9c; 
    box-shadow: 2px 2px 6px 2px #03ffff72; */
}


#book-modal-btn-div {
    /* border: 2px solid red; */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.book-modal-edit-btn {
    background-color: rgb(22, 81, 198);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    color: white;


}

.book-modal-buy-btn {
    background-color: rgb(22, 81, 198);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    color: white;


}


.book-modal-del-btn {
    background-color: rgb(138, 23, 167);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    color: white;


}

.book-modal-img-div {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding-top: 20px; */
    color: white;
}



#book-logo {
    width: 75px;
}

.book-modal-info-div {

    /* border: 2px solid green; */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.content-div {
    margin-top: 50px;


}




.course-modal {
    width: 350px;
    height: 200px;
    /* border: 2px solid green; */
    border-radius: 7px;
    position: relative;
    margin: auto;
    background-color: rgba(0, 116, 109, 0.459);

    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;


    /* -webkit-box-shadow: 2px 2px 6px 2px #00ffff84; 
box-shadow: 2px 2px 6px 2px #00ffff7e; */
}


#course-modal-btn-div {
    /* border: 2px solid red; */
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.course-modal-enroll-btn {
    background-color: rgb(22, 81, 198);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    color: white;


}

.course-modal-del-btn {
    background-color: rgb(138, 23, 167);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    color: white;


}

.course-modal-img-div {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding-top: 20px; */
    color: white;
}



#course-logo {
    width: 75px;
}

.course-modal-info-div {

    /* border: 2px solid green; */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}



.enrollment-modal {
    width: 350px;
    height: 200px;
    /* border: 2px solid green; */

    border-radius: 7px;
    position: relative;
    margin: auto;



    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;

    background-color: rgba(0, 116, 109, 0.459);

    /* -webkit-box-shadow: 2px 2px 6px 2px #00ffff84; 
box-shadow: 2px 2px 6px 2px #00ffff84; */
}


#enrollment-modal-btn-div {
    /* border: 2px solid red; */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.enrollment-modal-edit-btn {
    background-color: rgb(22, 81, 198);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    color: white;


}

.extended-enrollment-modal-edit-btn {
    background-color: rgb(22, 81, 198);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;

    color: white;


}

.enrollment-modal-details-btn {
    background-color: rgb(22, 81, 198);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    color: white;


}

.enrollment-modal-del-btn {
    background-color: rgb(138, 23, 167);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    color: white;


}

.extended-enrollment-modal-close-btn {
    background-color: rgb(138, 23, 167);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

.enrollment-modal-img-div {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding-top: 20px; */
    color: white;
}



.extended-enrollment-details {
    /* border: 2px solid red; */
    border-radius: 10px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 116, 109, 0.459);
    padding-bottom: 40px;

}


#extended-enrollment-modal-btn-div {
    width: 100%;
    /* border: 2px solid white;     */

    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 20px;


}

.extended-student-modal-info-div {
    /* border: 2px solid red; */
    color: rgba(255, 255, 255, 0.77);
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-bottom: 50px;
    gap: 5px;
}

.extended-course-modal-info-div {
    /* border: 2px solid red; */
    color: rgba(255, 255, 255, 0.77);
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    /* margin-bottom: 50px; */
    gap: 5px;
}



#extended-student-name-label {
    font-weight: 700;
    margin-bottom: 7px;
}

#extended-course-name-label {
    font-weight: 700;
    margin-bottom: 7px;
}

#enrollment-logo {
    width: 75px;
}

.enrollment-modal-info-div {


    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.logo {
    /* border: 2px solid red; */
    /* width: 200px; */
    height: 200px;
    overflow: hidden;
}

.logo img {
    cursor: pointer;

}

.namediv-modal-info-div {

    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 10px;


}

#student-last-name {
    width: 100%;
    display: flex;
    align-items: center;

}

#student-first-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.student-modal {
    width: 350px;
    height: 200px;
    /* border: 2px solid green; */
    border-radius: 7px;
    position: relative;

    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;
    margin: auto;
    background-color: rgba(0, 116, 109, 0.459);

    /* -webkit-box-shadow: 2px 2px 6px 2px #03ffff83; 
box-shadow: 2px 2px 6px 2px #03ffff70; */
}


#student-modal-btn-div {
    /* border: 2px solid red; */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.student-modal-edit-btn {
    background-color: rgb(22, 81, 198);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    color: white;


}

.student-modal-del-btn {
    background-color: rgb(138, 23, 167);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    color: white;


}

.student-modal-img-div {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding-top: 20px; */
    color: white;
}



#student-logo {
    width: 75px;
}

.student-modal-info-div {

    /* border: 2px solid green; */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}


.div-for-books-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap: 55px;
    padding: 20px;

    height: auto;
    width: 100%;

}

#div-for-books-label {
    color: #14B8A6;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;

}

.div-for-courses-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap: 55px;
    padding: 20px;

    height: auto;
    width: 100%;

}

#div-for-courses-label {
    color: #14B8A6;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;

}



.div-for-enrollments-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap: 55px;
    padding: 20px;

    height: auto;
    width: 100%;

}

#div-for-enrollments-label {
    color: #14B8A6;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;

}


.div-for-students-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap: 55px;
    padding: 20px;

    height: auto;
    width: 100%;


}

#div-for-students-label {
    color: #14B8A6;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;

}

.div-for-marketing {
    /* border: 2px solid red; */
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin-top: 50px;
    -webkit-animation: div-for-marketing 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: div-for-marketing 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

.land-img {
    min-width: 1000px;
    max-width: 1000px;
}



#enrollment-id-label {
    color: rgba(255, 255, 255, 0.756);
    /* border: 2px solid red; */
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
}





.login-modal {
    width: 100%;
    height: auto;
    background-color: #212a37;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 50px;

}


.signup-modal {
    width: 100%;
    height: auto;
    background-color: #212a37;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    /* margin-top: 50px; */



}

.login-modal-close-btn {
    background-color: #14B8A6;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    color: white;

    margin-left: auto;
}


.shadow {
    /*     
background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 100% );
transform: translate3d(0px, 20px, 0) scale(0.95);
filter: blur(20px);
opacity: var(0.7);
transition: opacity 0.3s;
position: relative; */
}





.signup-modal-close-btn {
    background-color: #EF4444;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    color: white;

    margin-left: auto;
}

#login-modal-label {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.809);
    margin-bottom: 40px;
}


.login-modal-email-div {

    /* border: 2px solid white; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 350px;

}

.signup-modal-email-div {

    /* border: 2px solid white; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 350px;

}

#login-modal-email-label {
    color: rgba(255, 255, 255, 0.809);
    font-size: 15px;
}

#signup-modal-email-label {
    color: rgba(255, 255, 255, 0.809);
    font-size: 15px;
}

.login-modal-pass-div {

    /* border: 2px solid white; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
    max-width: 350px;

}

.signup-modal-pass-div {

    /* border: 2px solid white; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
    max-width: 350px;

}

.signup-modal-other-info-div {

    /* border: 2px solid white; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
    max-width: 350px;

}



#login-modal-pass-label {
    color: rgba(255, 255, 255, 0.809);
    font-size: 15px;
}

#signup-modal-pass-label {
    color: rgba(255, 255, 255, 0.809);
    font-size: 15px;
}

#signup-modal-first-name-label {
    color: rgba(255, 255, 255, 0.809);
    font-size: 15px;
}

#signup-modal-last-name-label {
    color: rgba(255, 255, 255, 0.809);
    font-size: 15px;
}

#signup-modal-age-name-label {
    color: rgba(255, 255, 255, 0.809);
    font-size: 15px;
}


#login-modal-email-input {
    outline: none;
    border: none;
    padding: 1px;
    padding-left: 4px;
}

#login-modal-pass-input {
    outline: none;
    border: none;
    padding: 1px;
    padding-left: 4px;
}

#signup-modal-email-input {
    outline: none;
    border: none;
    padding: 1px;
    padding-left: 4px;
}

#signup-modal-pass-input {
    outline: none;
    border: none;
    padding: 1px;
    padding-left: 4px;
}

.login-modal-login-btn {
    margin: 40px;
    margin-top: 90px;
    background-color: #14B8A6;
    color: rgb(255, 255, 255);
    padding: 2px;
    font-size: 20px;
    width: 170px;
    border-radius: 3px;
    /* font-weight: 700; */
}

.signup-modal-signup-btn {
    margin: 40px;
    margin-top: 70px;
    background-color: #EF4444;
    color: rgb(255, 255, 255);
    padding: 2px;
    font-size: 20px;
    width: 170px;
    border-radius: 3px;
    /* font-weight: 700; */
}

#login-modal-reg-label {
    margin-top: 30px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.653);
}

#signup-modal-reg-label {
    margin-top: 30px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.653);
}


.account-modal {
    width: 100%;
    height: auto;
    background-color: #212a37;
    color: #14B8A6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.account-modal-img-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.account-modal-img-div img {
    /* width: 100px; */
    margin-top: 10px;
    position: absolute;
    left: 0;
    top: 20px;

}


.account-modal-info-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}


.login-error {
    min-width: 250px;
    max-width: 400px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sign-out-btn {

    display: block;

    margin-top: 0px;
    width: 77px;
    height: 36px;
    background-color: #EF4444;
    color: white;
    font-size: 12px;
    border-radius: 6px;
    /* margin-left: auto; */
    margin-right: 20px;



}

.sign-out-btn:hover {
    background-color: #d12929;
    transition: 0.5s ease-in-out;
}


.sign-out-element-div {

    width: 100%;
    display: flex;
    padding-top: 60px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.signed-info-label-div{
width: 150px;
height: 35px;
color: white;
/* background-color: red; */
/* border: 2px solid red; */
margin-left: auto;
font-size: 12px;
display: flex;
justify-content: center;
align-items: center;
}

.account-enrolls-modal-info-div{
    border: 2px solid white;
    width: 100%;
    color: white;
    margin-top: 40px;
    gap: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-enrolls-modal-list-div{
    border: 2px solid red;
    width: 100%;

}





@media (min-width:700px) {


    #extended-enrollment-modal-btn-div {
        grid-area: btn;
        /* border: 2px solid white; */
        margin-bottom: 30px;
    }

    .extended-student-modal-info-div {
        grid-area: stu;
        /* min-height: 500px; */
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .extended-course-modal-info-div {
        grid-area: cou;
        /* min-height: 500px; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #enrollment-id-label {
        color: rgba(255, 255, 255, 0.756);
        /* border: 2px solid red; */
        display: flex;
        font-size: 14px;
        grid-area: label;
        margin-top: 30px;
    }

    .extended-enrollment-details {
        /* border: 2px solid red; */
        padding-left: 40px;
        padding-top: 20px;
        padding-right: 40px;
        display: grid;
        grid-template-areas: 'btn btn' 'stu cou' 'label label';

        min-width: 700px;
        max-width: 700px;

        margin-top: 100px;
        align-self: center;

    }

    .content-div {
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }


}

@media (min-width:1000px) {
    .div-for-students-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .div-for-books-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .div-for-courses-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .div-for-enrollments-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sign-out-btn {
        width: 112px;
        height: 45px;
        font-size: 20px;
    }
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation .5s infinite;
    -moz-animation: flickerAnimation .5s infinite;
    -o-animation: flickerAnimation .5s infinite;
    animation: flickerAnimation .5s infinite;
}





/* border-teal-500 
bg-teal-500 
text-white 
rounded-md 
px-4 py-2 m-2 
transition duration-500 
ease select-none hover:bg-teal-600 
focus:outline-none 
focus:shadow-outline */


@-webkit-keyframes div-for-marketing {

    0% {
        -webkit-transform: translateX(0) translateZ(0) rotateY(0);
        transform: translateX(0) translateZ(0) rotateY(0);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
}


@keyframes div-for-marketing {
    100% {
        -webkit-transform: translateX(0) translateZ(0) rotateY(0);
        transform: translateX(0) translateZ(0) rotateY(0);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    0% {
        -webkit-transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
}